@model WebApp.Models.TestsViewModel


<h1>Pitanja: </h1>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Redni broj</th>
            <th>Pitanje</th>
            <th>Pogledaj</th>
            <th>Izbrisi</th>
        </tr>
    </thead>
    <tbody>
        @{ int rowNo = 0; }
        @foreach (Checkbox c in Model.Checkboxes)
        {
            <tr>
                <td>@{rowNo++;} @rowNo</td>
                <td>@c.Naziv</td>
                <td>@Html.ActionLink("Pogledaj", "PogledajPitanjeCheckbox", "Test", new { id = c.PitanjeId })</td>
                <td>@Html.ActionLink("Izbrisi", "IzbrisiPitanje", "Test", new { id = c.PitanjeId })</td>
            </tr>
        }
        @foreach (Dopuna d in Model.Dopune)
        {
            <tr>
                <td>@{rowNo++;} @rowNo</td>
                <td>@d.Naziv</td>
                <td>@Html.ActionLink("Pogledaj", "PogledajPitanjeDopuna", "Test", new { id = d.PitanjeId })</td>
                <td>@Html.ActionLink("Izbrisi", "IzbrisiPitanje", "Test", new { id = d.PitanjeId })</td>
            </tr>
        }
    </tbody>
</table>
<h6>Unesi novo pitanje</h6>
<div>
    <form asp-controller="Test" asp-action="UnosPitanjaNaDopunu">
        <input type="submit" value="Dopuna" asp-controller="Test" asp-action="UnosPitanjaNaDopunu" />
    </form>
    <form asp-controller="Test" asp-action="UnosPitanjaCheckbox">
        <input type="submit" value="Checkbox" asp-controller="Test" asp-action="UnosPitanjaCheckbox" />
    </form>
</div>
