@model WebApp.Models.TestsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               TestId
            </th>
            <th>
               KursId
            </th>
            <th>
                Nivo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Test t in Model.Testovi) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => t.TestId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => t.KursId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => t.Nivo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=t.TestId}) |
                @Html.ActionLink("Details", "Details", "Test", new {id=t.TestId}, null) |
                @Html.ActionLink("Delete", "Delete", new { id = t.TestId })
            </td>
        </tr>
}
    </tbody>
</table>
