@model Kurs


<h3 style="display:none">ID kursa: @Model.KursId</h3>
<h3> @Model.NazivKursa</h3>


<h3>Lekcije: </h3>


<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Redni broj</th>
            <th>Naziv lekcije</th>
            <th>Sadrzaj</th>
            <th>Izmeni</th>
            <th>Izbrisi</th>
        </tr>
    </thead>
    <tbody>
        @{ int rowNo = 0; }
        @foreach (Lekcija l in Model.Lekcije)
        {
            <tr>
                <td>@{rowNo++;} @rowNo</td>
                <td>@l.Naziv</td>
                <td>@Html.ActionLink("Sadrzaj", "PrikaziSadrzaj", "Kurs", new { id = l.LekcijaId })</td>
                <td>@Html.ActionLink("Izmeni", "IzmenaLekcije", "Kurs", new { id = l.LekcijaId })</td>
                <td>@Html.ActionLink("Izbrisi", "IzbrisiLekciju", "Kurs", new { id = l.LekcijaId, kursId = Model.KursId })</td>
            </tr>
        }
    </tbody>
</table>
<div>
    <form asp-controller="Kurs" asp-action="UnosLekcije">
        <input type="submit" value="Unesi novu lekciju" asp-controller="Kurs"  class="btn btn-primary" asp-action="UnosLekcije" style="margin-left:85%" />
    </form>
</div>
<style>
    .a{
        color:white;
    }
</style>

