@model List<Domain.Kurs>
@{
    ViewData["Title"] = "Kursevi";
}

<form method="post" asp-controller="Kurs" asp-action="Create">
    <input type="submit" value="Dodaj novi" asp-controller="Kurs" asp-action="Create" />
</form>
<h1>Kursevi:</h1>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Redni broj</th>
            <th>Naziv kursa</th>
            <th>Detalji</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @{ int rowNo = 0; }
        @foreach (Kurs k in Model)
        {
            <tr>
                <td>@{rowNo++;} @rowNo</td>
                <td>@k.NazivKursa</td>
                <td>@Html.ActionLink("Detalji", "Details", "Kurs", new { id = k.KursId })</td>
                <td>@Html.ActionLink("Edit", "Edit", "Kurs", new { id = k.KursId })</td>
                <td>@Html.ActionLink("Delete", "Delete", "Kurs", new { id = k.KursId })</td>
            </tr>
        }
    </tbody>
</table>